@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-black dark:text-white;
  }

  .font-condensed {
    font-stretch: 70%;
  }

  .underline-effect {
    @apply relative p-0;
  }

  .underline-effect::after {
    @apply content-[''] absolute w-full h-[2px] left-0 bottom-[-2px] bg-blue-400 dark:bg-blue-500;
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }

  .underline-effect:hover::after {
    transform: scaleX(0.7);
    transition: transform 0.3s ease-in-out;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
